@import url(http://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rokkitt&display=swap);

* {
  box-sizing: border-box;
}

.body {
  font-family: "Rokkit", serif;
}

.main-picture {
  background: url(../../img/Seagway.jpg);
  background-size: cover;
  background-position: center;
  height: 98vh;
  position: absolute;
  width: 100%;
}

h1 {
  color: #fdfdfd;
  text-align: center;
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
}

.present {
  color: #e5e5e5;
  text-align: center;
  font-size: 2vw;
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 0;
  line-height: 1.5;
  text-indent: 30px;
}

.logotype {
  font-family: Rokkitt;
  font-size: 4vw;
  line-height: 60px;
  color: #939393;
  text-shadow:
    1px 1px 0px rgb(202, 202, 202),
    1px -1px 0px rgb(202, 202, 202),
    -1px -1px 0px rgb(202, 202, 202),
    -1px 1px 0px rgb(202, 202, 202),
    1px 1px 3px rgb(128, 122, 122);
}

/* Menu */
.menu-main {
  list-style: none;
  text-align: center;
}

.menu-main li {
  display: inline-block;
}

.menu-main li:after {
  display: inline-block;
  vertical-align: top;
}

.menu-main a {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 4.1vw 1px 0 30px;
  font-size: 1.8vw;
  display: inline-block;
  transition: color 0.2s;
}

.menu-main a,
.menu-main a:visited {
  color: #e5e5e5;
}

.menu-main a.current,
.menu-main a:hover {
  color: #aaa19b;
}

.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 3px;
  top: auto;
  right: 50%;
  bottom: 10px;
  left: 50%;
  background: #aaa19b;
  transition: 0.8s;
}

.menu-main a:hover:before,
.menu-main .current:before {
  left: 0;
}

.menu-main a:hover:after,
.menu-main .current:after {
  right: 0;
}

.tel {
  color: #e5e5e5;
  font-size: 1.5vw;
  margin-top: 4.1vw;
}

.order {
  color: #e5e5e5;
  border: 2px solid #e5e5e5;
  border-radius: 25px;
  font-size: 1.2vw;
  padding: 0 20px;
  line-height: 3vw;
}

h2 {
  font-size: 3vw;
  font-weight: bold;
  margin-top: 0;
  padding-bottom: 25px;
  padding-top: 5%;
  margin-bottom: 0;
  color: #0c1a02;
}

h3 {
  font-size: 2vw;
  font-weight: bold;
}
.question {
  font-size: 1.2vw;
}
—è .final-price {
  font-size: 2vw;
  margin: 2vw 10vw;
}
.advert {
  font-size: 2vw;
  margin: 2vw 10vw;
  font-weight: bold;
}

.pricelist {
  font-size: 2vw;
  margin: 2vw 10vw;
}
.contact {
  font-size: 2vw;
  font-weight: bold;
  padding-bottom: 1vw;
}
.messangers {
  width: 2vw;
  height: 2vw;
  margin-left: 2vw;
  display: inline;
}

.footer {
  font-size: 1vw;
  font-weight: bolder;
}
.addres {
  margin-left: 3vw;
}

@media (max-width: 576px) {
  .menu-main {
    padding-top: 0;
    margin: 0;
    padding-left: 0px;
  }

  .menu-main li {
    display: block;
    margin: 0;
  }

  .menu-main li:after {
    content: none;
  }

  .menu-main a {
    padding: 5px 0 5px;
    margin: 0 5px;
    font-size: 4vw;
  }

  .logotype {
    text-align: center;
    font-size: 10vw;
    margin-top: 10px;
  }

  .tel {
    font-size: 3vw;
  }

  h1 {
    font-size: 7vw;
  }

  h2 {
    margin-top: 5vw;
  }

  h3 {
    font-size: 2vw;
    margin-top: 2%;
  }

  p .question {
    font-size: 2vw;
  }

  .present {
    font-size: 5vw;
  }

  .benefits li {
    font-size: 3vw;
    margin-bottom: 4vw;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 768px) {
  div .tel {
    font-size: 3vw;
    padding-top: 10px;
  }

  h1 {
    font-size: 5vw;
  }
  .present {
    font-size: 3vw;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 992px) {
  .tel {
    font-size: 1.6vw;
    padding-top: 10px;
  }

  h1 {
    font-size: 5vw;
  }
  .present {
    font-size: 3vw;
  }
  svg {
    width: 20px;
    height: 20px;
  }

  h3 {
    font-size: 3vw;
    margin-top: 2%;
  }
}

@media screen and (max-width: 1200px) {
}
