.benefits {
  font-size: 2vw;
  padding-left: 8em;
  padding-right: 1em;
}
li {
  margin-bottom: 1.5vw;
}
#expert{
  background: url(/img/tyre-expert.png) 0 50% no-repeat;
  list-style-type: none;
  padding-left: 3em;
  background-size: 4%;     
}

#price{
  background: url(/img/ruble.png) 0 50% no-repeat;
  list-style-type: none;
  padding-left: 3em;
  background-size: 4%;     
}

#guaranty{
  background: url(/img/guarantee.png) 0 50% no-repeat;
  list-style-type: none;
  padding-left: 3em;
  background-size: 4%;     
}

#problem{
  background: url(/img/problem.png) 0 50% no-repeat;
  list-style-type: none;
  padding-left: 3em;
  line-height: 3vw;
  background-size: 4%;     
}

#accumulator {
  background: url(/img/accumulator.png) 0 50% no-repeat;
  list-style-type: none;
  padding-left: 3em;
  background-size: 4%;     
}

#vip{
  background: url(/img/vip.png) 0 50% no-repeat;
  list-style-type: none;
  padding-left: 3em;
  background-size: 4%;      
}